@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");

* {
  font-family: "Exo", sans-serif;
}

body {
  background-color: #abacad;
}

nav {
  background-color: #111111d3;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navbar-collapse ul {
  margin: 0 auto;
}

.navbar-collapse ul li {
  margin: 0 15px;
}

#naslov {
  color: black;
  width: 100%;
  height: 75vh;
  padding-top: 50px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.152),
      rgba(255, 255, 255, 0.6)
    ),
    url(img/background.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid white;
}

#naslov div {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 80px 120px;
}

#naslov h1 {
  text-transform: uppercase;
  font-weight: bold;
}

#naslov p {
  font-size: 22px;
  font-weight: bold;
}

#apply-btn {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
  border: none;
}

#apply-btn {
  background-color: #111;
  color: white;
  transition: background-color 0.5s;
}

#apply-btn:hover {
  background-color: #0360ad;
}

#security-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0;
}

#security-types div {
  position: relative;
  width: 472px;
  height: 322px;
  display: flex;
  justify-content: center;
  background-color: #111;
  border-radius: 15px;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  margin: 20px 5px;
}

#tehnicka,
#kiberneticka {
  width: 470px;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s;
}

#fizicka {
  height: 260px;
  object-fit: cover;
  transition: transform 0.5s;
}

#security-types div p {
  width: 100%;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  background-color: #111;
}

#security-types div img:hover {
  transform: scale(1.1);
}

#reklama {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 80px 50px;
}

#reklama div {
  width: 40%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#reklama div h2 i {
  font-size: 20px;
}

#reklama div h2 span {
  color: #0360ad;
}

#reklama div p {
  font-size: 18px;
}

#mozaik {
  display: flex;
  color: black;
  margin: 100px 50px;
  align-items: center;
  justify-content: space-evenly;
}

#kompanije {
  height: 400px;
  background-color: white;
  border-radius: 15px;
}

#mozaik div {
  width: 40%;
}

#mozaik li img {
  width: 30px;
}

#mozaik li {
  margin: 20px 0;
}

#mozaik-grid img {
  width: 150px;
  transition: transform 0.5s;
}

#mozaik-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 20px;
}

#mozaik-grid div {
  background-color: #111;
  width: 100%;
  border: 2px solid rgb(200, 198, 198);
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

#mozaik-grid img:hover {
  transform: scale(1.1);
}

.swiper {
  max-width: 95%;
  height: 100%;
}

.swiper-slide {
  width: 310px;
  height: 330px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  border-radius: 15px;
  border: 2px solid white;
  overflow: hidden;
}

.swiper-slide img {
  height: 330px;
  display: block;
  object-fit: cover;
  transition: transform 0.5s;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.popup {
  background-color: #0360ad;
  color: antiquewhite;
  width: 200px;
  padding: 0;
  position: absolute;
  left: 170px;
  top: 120px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  display: none;
  text-align: center;
}

.popup p {
  margin-top: 10px;
  font-size: 18px;
  color: antiquewhite;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  #mozaik {
    flex-direction: column;
    margin: 100px 20px;
  }

  #mozaik div {
    width: 90%;
    margin-bottom: 20px;
  }

  #mozaik-grid {
    margin-left: 20%;
  }
}

@media screen and (max-width: 920px) {
  #naslov div {
    padding: 40px 40px;
  }
  #reklama div {
    width: 70%;
  }
  #reklama img {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  #naslov h1 {
    font-size: 25px;
  }
  #reklama div {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  #naslov div {
    padding: 40px 40px;
  }

  #naslov h1 {
    font-size: 22px;
  }

  #naslov p {
    font-size: 18px;
  }

  #mozaik-grid img {
    width: 100px;
  }

  #mozaik-grid {
    grid-template-columns: 100px 100px 100px;
  }
}

@media screen and (max-width: 440px) {
  #mozaik-grid img {
    width: 80px;
  }

  #mozaik-grid {
    grid-template-columns: 80px 80px 80px;
  }

  .swiper-slide {
    max-width: 90%;
    height: 200px;
    margin: 0;
  }

  .swiper-slide img {
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.5s;
  }
}
